body {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 16px;
    background-color: lightblue; 
    padding: 3px;
}

#header {
    color: #FF0000;
}

#header h1 {
    font-family: Georgia, serif;
    border-bottom: 3px solid green;
    color: black;
    font-size: 30px;
}

#nav {
    padding 10px;
    margin: 5px;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#nav li {
    float: left;
}

#nav li a {
    display: block;
    padding: 20px 15px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
}

#nav li a:hover {
    display: block;
    padding: 20px 15px;
    background-color: #66AA00;
}

#main {
    margin: 5px;
    padding: 5px;
    padding-left:  15px;
    padding-right: 15px;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
}

#chart_div {
    border-radius: 5px 5px 5px 5px;
    background-color: #F4F4F4;
}

#chart_link, #tabled {
    border-style: solid;
    border-width: thin;
    text-align: center;
    background-color: lightblue;
}

#footer {
    margin: 5px;
    padding: 5px;
    padding-left:  15px;
    padding-right: 15px;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
}

#footer {
    
}

.onoffswitch {
    position: relative; width: 90px;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: green; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 8px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}