{% load staticfiles %}

<html>
    <head>
        <title>Watt Watch</title>
        <link rel="stylesheet" href="{% static "dashboard/css/reset.css" %}" />
		<link rel="stylesheet" href="{% static "dashboard/css/site.css" %}" />
        {% block header %}
        {% endblock header %}
    </head>
    <body>
        <div id="header">
            <p> <a href="{% url 'index' %}">
                <img src="{% static "dashboard/images/WattWatch.png" %}" alt="Watt Watch Logo" height="20%" /></a>
            </p>
            <!--<img src="{% static "dashboard/images/SwitchedOn.png" %}" alt="Switched On Logo" height="20%" align="right" />-->
        </div>
        <!--
        <div id="nav">
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
            </ul>
        </div>
        -->
        
        <div id="main">
            {% block content %}
            {% endblock content %}
        </div>
        
        <div id="footer">
            <a href="{% url 'admin:index' %}">Admin</a>
        </div>
    </body>
</html>