{% load staticfiles %}

<html>
    <head>
        <title>Team 5: Smart PowerBoard Demo</title>
        <link rel="stylesheet" href="{% static "dashboard/css/reset.css" %}" />
		<link rel="stylesheet" href="{% static "dashboard/css/site.css" %}" />
        {% block header %}
        {% endblock header %}
    </head>
    <body>
        <div id="header">
            <img src="{% static "dashboard/images/switchedon.png" %}" alt="Switched On Logo" height="100px" />
            <h1>Team 5: Smart PowerBoard Demo</h1>
        </div>
        
        <div id="nav">
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'index' %}">Other Link</a></li>
                <li><a href="{% url 'index' %}">Other Other Link</a></li>
            </ul>
        </div>
        
        <div id="main">
            {% block content %}
            {% endblock content %}
        </div>
        
        <div id="footer">
            <a href="{% url 'admin:index' %}">Admin</a>
        </div>
    </body>
</html>