{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
    <!--[if IE]>
    <script type="text/javascript" src="{% static "dashboard/js/excanvas.js" %}" />
    <![endif]-->
    <script type="text/javascript" src="{% static "dashboard/js/dygraph-combined.js" %}"></script>
    <script type="text/javascript" src="{% static "dashboard/js/jquery.min.js" %}"></script>
{% endblock header %}

{% block content %}
    <h2>Board: {{board.name}}</h2>

    <table style="width:20%; border-color:blue" border="1">
        <tr><th>Channels</th></tr>
        {% for channel in channels %}
            <tr>
                 <td><a href="{% url 'channel' channel.id %}">{{channel.name}}</a></td>
                 <td><button id="test_button" onclick="button_press(1)">{{status.status}}</button></td>
            </tr>
        {% endfor %}
    </table>

    <div id="chart_div" style="height:60%; width:80%; margin:auto; background-color:lightblue"></div>
    
    <script type="text/javascript">

        function button_press(num){
            var hello = "report/button/1";
            var jsonData = $.ajax({
              url: "{% url 'button_press' 1 %}",
              dataType: 'json'
            }).done(function (results) {
           document.getElementById("test_button").innerHTML = results;
        })
        }
        
        function button_poll() {
            var jsonData = $.ajax({
              url: "{% url 'get_status' board.id %}",
              dataType: 'json'
            }).done(function (results) {
            document.getElementById("test_button").innerHTML = results;
        });
            setTimeout(button_poll,3000);
        }

        function get_new_data(){
            if (data.length > 0) {
                address = "{% url 'board_data' board.id %}" + Math.ceil(data[data.length-1][0].getTime()/1000) + "/";
            } else {
                if ({{ timestart }}) {
                    address = "{% url 'board_data' board.id %}" + Math.ceil(new Date().getTime()/1000 - {{ timestart }}) + "/";
                } else {
                    address = "{% url 'board_data' board.id %}";
                }
                
            }
            var jsonData = $.ajax({
              url: address,
              dataType: 'json'
            }).done(function (results) {
                for (var i = 0; i < results.length; i++){
                    data.push([new Date(results[i][0]*1000),results[i][1]]);
                }
                var needs_update = false;
                if (results.length) {
                    $('#latest-point').html(data[data.length-1][0]);
                    $('#latest-point').fadeTo(0, 0.25).fadeTo(1500, 1.0);
                    var needs_update = true;
                }
                if ({{ timestart }}) {
                    var d = new Date().getTime();
                    while (data.length && ((d-data[0][0].getTime())/1000 > {{ timestart }})) {
                        data.splice(0,1);
                        needs_update = true;
                    }
                }
                if (needs_update) {
                    g.updateOptions( { 'file': data } );
                }
                setTimeout(get_new_data,3000);
            })
        }
        
        var data = [];
        
        var g = new Dygraph(document.getElementById("chart_div"), data,
                            {
                              drawPoints: false,
                              //valueRange: [0.0, 1.2],
                              labels: ['Time', '{{ board.units }}'],
                              xlabel: 'Time',
                              ylabel: '{{ board.units }}',
                            });
        
        get_new_data();
        button_poll();
    </script>
{% endblock content %}