{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
    <!--[if IE]>
    <script type="text/javascript" src="{% static "dashboard/js/excanvas.js" %}" />
    <![endif]-->
    <script type="text/javascript" src="{% static "dashboard/js/dygraph-combined.js" %}"></script>
    <script type="text/javascript" src="{% static "dashboard/js/jquery.min.js" %}"></script>
{% endblock header %}

{% block content %}
    <h2>{{ channel.name }} - {{ channel.points.count }} points</h2>
    <h3>Latest Point at: <b id="latest-point"></b></h2>
    <div id="chart_div" style="height:60%; width:80%; margin:auto"></div>
    
    <script type="text/javascript">
        function get_new_data(){
            var address = "{% url 'channel_data' channel.id %}";
            if (data.length > 0) {
                address += Math.ceil(data[data.length-1][0].getTime()/1000) + "/";
            }
            var jsonData = $.ajax({
              url: address,
              dataType: 'json'
            }).done(function (results) {
                for (var i = 0; i < results.length; i++){
                    data.push([new Date(results[i][0]*1000),results[i][1]]);
                }
                if (results.length) {
                    $('#latest-point').html(data[data.length-1][0]);
                    $('#latest-point').fadeTo(0, 0.25).fadeTo(1500, 1.0);
                    g.updateOptions( { 'file': data } );
                }
                setTimeout(get_new_data,2000);
            })
        }
        
        var data = [];
        
        var g = new Dygraph(document.getElementById("chart_div"), data,
                            {
                              drawPoints: false,
                              //valueRange: [0.0, 1.2],
                              labels: ['Time', '{{ channel.units }}'],
                              xlabel: 'Time',
                              ylabel: '{{ channel.units }}',
                            });
        
        get_new_data();
    </script>
{% endblock content %}