{% extends "base.html" %}

{% block content %}

    <table style="width:100%" border="5">
        <tr><th>Board Location</th><th>Board Socket</th><th>Toggle Switch Status</th><th>Datapoints Captured</th></tr>
        {% for channel in channels %}
            <tr>
                <td><center>{{ channel.name }}</center></td>
                <td><center><a href="{% url 'channel' channel.id %}">Socket 1</a> - <a href="{% url 'channel' channel.id %}">Socket 2</a> - <a href="{% url 'channel' channel.id %}">Socket 3</a> - <a href="{% url 'channel' channel.id %}">Socket 4</a></center></td>
				<td><center><a href="{% url 'channel' channel.id %}">On</a> / <a href="{% url 'channel' channel.id %}">Off</a></center>
                <td><center>{{ channel.points.count }}</center></td>
            </tr>
        {% endfor %}
    </table>
    <p>
        <a href="{% url 'admin:index' %}">Admin</a>
    </p>
{% endblock content %}
